
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p></p>
	</div>
</div><br></br>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<p></p>
	</div>
</div><br></br>
<div class="row" id="hsrac">
	<div class="col-md-6 col-md-offset-3">
		<h1>High Speed Rail America Club</h1>
	</div>
</div>
<video autoplay loop poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid">
<source src="http://demosthenes.info/assets/videos/polina.webm" type="video/webm">
<source src="http://demosthenes.info/assets/videos/polina.mp4" type="video/mp4">
</video>

<div class="container">
	<div class="row" id="thumbnails">
		<div class="col-xs-6 col-md-4">
			<h2>Research</h2>
			<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" src="/assets/research.png" data-holder-rendered="true" style="width: 200px; height: 200px;">
		</div>
		<div class="col-xs-6 col-md-4">
			<h2>News</h2>
			<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" src="/assets/news.png" data-holder-rendered="true" style="width: 200px; height: 200px;">
		</div>
		<div class="col-xs-6 col-md-4">
			<h2>About Us</h2>
			<img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" src="/assets/about.png" data-holder-rendered="true" style="width: 200px; height: 200px;">
		</div>
	</div>
</div>

<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-6" id="connect">
				<h1>Connect</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1" id="twitter">
				<img src="/assets/twitter.png" class="img-responsive" atl="twitter" >
			</div>
			<div class="col-md-1" id ="facebook">
				<img src="/assets/facebook.png" class="img-responsive" atl="twitter" >
			</div>
			<div class="col-md-1" id ="youtube">
				<img src="/assets/youtube.png" class="img-responsive" atl="twitter" >
			</div>
		</div>
		<div class="row">
			<div class="copyright">
				©2015 High Speed Rail America, Inc
   			</div>
		</div>
	</div>
</footer>