<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<%= link_to "Home", root_path %><br><br>
			<% if user_signed_in? %>
				<%= link_to "New Post", new_post_path, class: "btn btn-primary" %>
			<% end %>
			<% @posts.each do |post| %>
				<h1 class="page-header">
					<%= link_to post.title, post %>
				</h1>
				<p><%= post.created_at.strftime("%B, %d, %Y") %></p>
			<% end %>
		</div>
	</div>
</div>