<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<% @posts.each do |post| %>
				<h1 class="page-header">
					<%= link_to post.title, post %>
				</h1>
				<p><%= post.created_at.strftime("%B, %d, %Y") %></p>
			<% end %>
		</div>
	</div>
</div>