/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";



/***header***/

#hsrac {
	color: white;
	text-align: center;
	h1 {
		margin-top: 20%;
		font-size: 60px;
	}
}

/*#vid {
	margin-bottom: -20%;
}*/

video#bgvid {
	position: absolute;
	top: 10%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: 730px;
	z-index: -100;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: url(video-bg.jpg) no-repeat;
	background-size: cover;
}

#thumbnails {
	margin-top: 40%;
	margin-left: 10%;

	h2 {
		color: #2d5c88;
	}
}


/***featured in***/

#feature-in {
	margin-top: 8%;
	margin-left: 10%;
	h4 {
		padding-top: 5%;
		color: #c6cccf;
	}
}

#miaminewtimes {
	margin-left: -6%;
}

/***footer***/

footer {
	margin-top: 5%;
	background-color: #f6f9fa;
	padding-bottom: 2%;
}

#connect {
	color: #2d5c88;
}

#facebook {
	margin-left: -2%;
}

#youtube {
	margin-left: -2%;
}

.copyright {
	padding-top: 2%;
}
